<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css?@DateTime.Now.ToString("yyyyMMddhhmmssff")"/>
</head>
<body>
    @RenderBody()
</body>
</html>
